<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <p class="navbar-text">©️ 2023 by <b>Yang Chen</b>
    <a href="https://github.com/pisove/ProjectGroup26"><i class="fa-brands fa-github"></i></a>
  </p>
</nav>