<!--NavBar -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ResolveHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto"> 

        <li class="nav-item">
        <% if (title == "Incident") { %>
          <a class="nav-link active" href="/incident-catalogue">
        <% } else { %>
          <a class="nav-link" href="/incident-catalogue">
        <% } %>
          <i class="fa-solid fa-incident"></i> Incident Report </a>
        </li>

    </div>
  </div>
</nav>
