<!--NavBar -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ResolveHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto"> 

        <li class="nav-item">
        <% if (title == "Incident") { %>
          <a class="nav-link active" href="/incident-list">
        <% } else { %>
          <a class="nav-link" href="/incident-list">
        <% } %>
          <img src="/Content/user.svg"></img> Incident Report </a>
        </li>

        <% if(typeof displayName =='string' && displayName) { %>
          <li class="navbar-text">
            <img src="/Content/admin.svg"/>
          Welcome, <%= displayName %> </li>
          <li class="nav-item">
          <a href="/logout" class="nav-link">
            <img src="/Content/log-out.svg"/>Logout</a></li>
        <% } else { %>
          <li class="nav-item">
            <a href="/login" class="nav-link">
              <img src="/Content/log-out.svg"/></i>Login</a></li>
        <% } %>

    </div>
  </div>
</nav>
