<%- include ('../views/partials/header.ejs') %>
<%- include ('../views/partials/main_nav.ejs') %>
<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container"><br>
    <h1 class="display-4">Welcome to ResolveHub</h1><br>
    <h6 class="display-10">Click on the Incident Report tab to submit a new ticket.</h6>
    <img src="Content/160181703_padded_logo.png" width="550" alt="Logo">
  </div>
</div>
</main>
<%- include ('../views/partials/bottom_nav.ejs') %>
<%- include ('../views/partials/footer.ejs') %>
