<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>

<!-- Content for add page-->
<div class="container">
    <div class="row">
    <div class="col-md-10 centered">
    <h1>Add New Incident</h1>
    <form class="form" method="post"><br>
    
    <div class="form-group">
        <label for="issueTextField">Issue</label>
        <input type="text" class="form-control" id="issueTextField"
        placeholder="Enter the main topic your issue"
        name="issue" required>
    </div><br>

    <div class="form-group">
        <label for="statusTextField">Status</label>
        <input type="text" class="form-control" id="statusTextField"
        placeholder="Enter the issue's status"
        name="status" required>
    </div><br>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea type="text" class="form-control" id="description"
        placeholder="Please provide more detail of your issue"
        name="description" required></textarea>
    </div><br>

    <div class="form-group">
        <label for="dateTextField">Date</label>
        <input type="date" class="form-control" id="dateTextField"
        placeholder="Enter the current date upon your submission"
        name="date" required>
    </div><br>

    <div class="form-group">
        <label for="time">Time</label>
        <input type="time" class="form-control" id="time"
        placeholder="Please provide a specific time of your ticket"
        name="time" required>
    </div>

    <br>
    <button class="btn btn-primary" type="submit">
    <i class="fas fa-edit"></i> Create
    </button>

    <a href="/incident/add" class="btn btn-warning">
    <i class="fas fa-undo"></i> Reset</a>

    <a href="/incident" class="btn btn-danger">
    <i class="fas fa-xmark"></i> Cancel</a>
        

    </form>
    </div>
    </div>
</div>
    
<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs')%>
