<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>

<!-- Content for add page-->
<div class="container">
    <div class="row">
    <div class="col-md-10 centered">
    <h1>Add New Incident</h1>
    <form class="form" method="post"><br>
    
    <div class="form-group">
        <label for="nameTextField">Issue</label>
        <input type="text" class="form-control" id="nameTextField"
        placeholder="Enter the main topic your issue"
        name="name" required>
    </div><br>

    <div class="form-group">
        <label for="catagoryTextField">Status</label>
        <input type="text" class="form-control" id="catagoryTextField"
        placeholder="Enter the issue's status"
        name="catagory" required>
    </div><br>

    <div class="form-group">
        <label for="descriptionTextField">Description</label>
        <textarea type="text" class="form-control" id="descriptionTextField"
        placeholder="Please provide more detail of your issue"
        name="description" required></textarea>
    </div><br>

    <div class="form-group">
        <label for="stockpileTextField">Date</label>
        <input type="date" class="form-control" id="stockpileTextField"
        placeholder="Enter the current date upon your submission"
        name="stock" required>
    </div><br>

    <div class="form-group">
        <label for="priceTextField">Time</label>
        <input type="time" class="form-control" id="priceTextField"
        placeholder="Please provide a specific time of your ticket"
        name="price" required>
    </div>

    <br>
    <button class="btn btn-primary" type="submit">
    <i class="fas fa-edit"></i> Create
    </button>

    <a href="/incident/add" class="btn btn-warning">
    <i class="fas fa-undo"></i> Reset</a>

    <a href="/incident" class="btn btn-danger">
    <i class="fas fa-xmark"></i> Cancel</a>
        

    </form>
    </div>
    </div>
</div>
    
<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs')%>
