/* custom css goes here */
@charset "UTF-8";
*{
    padding:0;
    margin:0;
    color:white;
    font-family:sans-serif;

}

body{
    width:100%;
    height:100vh;
    background:url('./img/black.jpg');
    background-size:cover;
   
}

.thead-dark{
    font-size: x-large;
}